{# about page - user logged in#}

{% extends "base.html" %}

{% block contentts2 %}
<div id="aboutus_cont">
  <div>
    <p id="about_title">WELCOME TO ABOUT US</p>
  </div>
  <hr id="about_line">

    <span>About Us</span><br>

    <p>Project Regalo is a student project created and developed by Basileal Yoseph, Adam Krog and Ian Weist.  It is an open source project, used to demonstrate and become accustomed to the practices and strategies used in developing a concept into a deliverable product.  The three members of our development team are computer science majors at Trinity College and decided to make this web application for purely educational and experimental purposes.  All code produced on this site is available for use under open source guidelines in a GitHub repository <a href="https://github.com/yosephbasileal/Regalo">here</a>.</p><br>

    <h > Developemt Process </h>

    <p >This project was developed using the concepts and principles outlined by the Agile development manifesto.  Version control has been maintained using a communal GitHub repository and testing has been done mainly using Continuous Integration Testing over the course of the four week development period.  The development of this project was divided into two sprints, where each sprint was two weeks long and was bounded by sprint goals planned before each sprint.  Development may or may not continue after the allotted time period, and will depend on the motivation of the development team after the conclusion of the course.</p><br>

    <h > Contact Us </h>

  <p > To contact the administrators of Project Regalo, please send an email to <a href="mailto:regalo.help@gmail.com">regalo.help@gmail.com</a>.  If you find yourself having problems with the site's functionality or want to ask more questions about the design and implementation of the site, please send a message! (Note: No solicitors)</p><br>

  <h > Disclaimer </h>

  <p > We would like to make clear that this site was purely made for educational purposes, and any interactions with other users you may have on this site are not stricly moderated by administrators of the site.  This being said, Project Regalo nor any of its developers are responsible in any way for dishonest or malicious transactions and interactions between users, this site was made based on the honor code, and, until a better functionality for secure exchange of codes is put in place, will stay that way. Thank you for understanding and enjoy the site! </p><br>
</div> 
{% endblock %}

