{# base page to be extended by all pages that a user logged in sees #}

{% extends "frontpage.html" %}

{% block contentts1 %}
  <div id="nav_Bar_bottom_line" class="nav_bar_line"> </div>
  <div>
    <a id="browse" class="button-link" href='/browse'>BROWSE</a>
    <a id="profile" class="button-link" href='/myprofile' >MY PROFILE</a>
    <a id="posts" class="button-link" href='/myposts'>MY POSTS</a>
    <a id="bids" class="button-link" href='/mybids'>MY BIDS</a>
    <a id="about" class="button-link" href='/about' >ABOUT US</a>
    <a id="help" class="button-link" href='/help'>HELP/FAQ</a>
  </div>
{% endblock %}

{% block contentts2 %}
  {% block content %}

  {% endblock %}
{% endblock %}


