{% extends "frontpage.html" %}

{% block contentts1 %}
	<a href="/browse">
		<div class="backtobrowse">
			<div class="backbrowseicon"></div>
			<div class="backbrowsetext">Back to Browse</div>
		</div>
	</a>
{% endblock %}  

{% block contentts2 %}

	<div id="bidswap_form">
		<div>
      		<p id="bidswap_title">Bid Submitted!</p>
    	</div>
		<p >
			Your bid has been successfully submitted. You can go to <a href="/mybids"> My Bids </a> and check the status of your bid at any ttime.
		</p>
	</div>
{% endblock %}




