{% extends "browse.html" %}
{% block content1 %}
	<div>
		<span class="body_nav_title">Active Swap Posts</span>
        <ul class="myMenu">
            <li><a style="cursor: pointer;">Sort by<span class="body_nav_sort_arrow"></span></a>
                <ul style="z-index: 9999;">
                    <li><a href="/browse?type=1&s=date">Date (recent)</a></li>
                    <li><a href="/browse?type=1&s=priceL">Price (lowest)</a></li>
                    <li><a href="/browse?type=1&s=priceH">Price (higest)</a></li>
                    <li><a href="/browse?type=1&s=retailer">Retailer (a-z)</a></li>
                </ul>
            </li>
        </ul>
	</div>
{% endblock %}

{% block content2 %}
	{% if posts|length > 0 %}
        {% for p in posts %}
          {{ p.render() | safe }}
        {% endfor %}
     {% else %}
        <div style="margin: 1em 0 0 1em;;">
            <span>Currently, there are no active swap posts by other users.</span>  
        </div>
     {% endif %}
{% endblock %}