{% extends "index.html" %}

{% block content %}
<div id="browse-left" style="margin: 1em 1em 1em 1em; float: left; height:400px; width: 25%;  border-radius: 3px; background-color: #CFCFCF;">
</div>
<div id="browse-nav" style="border-radius: 3px;margin: 1em 1em 0 0 ;float: left; height: 3em; width: 69%; background-color: #CFCFCF;">
</div>
<div id="browse-main" style="margin: 0.25em 1em 0 0 ; float: left; height:450px; min-height: 400px;width: 69%; background-color: #CFCFCF; overflow-y: scroll; overflow-x: hidden; border-radius: 3px;">
</div>
{% endblock %}


