{% extends "base.html" %}

{% block content %}
	<div id="post_main_body">
		<div class="body-left">
			<div class="new_button_cont">
				<a class="new_button" href='/myposts/newpost'>+ NEW POST</a>
			</div>
			<div class="left_menu_button_cont">
				<p align="center" style="font-size: 14pt; font-weight: 900; color:#525252;">SHOW POSTS</p>
				<hr class="left_menu_line">
				<a id="swap_menu" class="left_menu_button" href='/browse?type=1'>SWAP
				</a>
				<div id="swap_arrow" class="left_menu_arrow" ></div>		
				<hr class="left_menu_line">
				<a id="sell_menu" class="left_menu_button" href='/browse?type=2'>SELL</a>
				<div id="sell_arrow" class="left_menu_arrow"></div>
				<hr class="left_menu_line">
				<a id="swap_menu" class="left_menu_button" href='/browse?type=0'>ALL</a>
				<div id="all_arrow" class="left_menu_arrow"></div>
				<hr class="left_menu_line">
			</div>
		</div>
		<div class="body-nav">
			{% block content1 %}
			{% endblock %}
		</div>
		<div class="body-main">
			{% block content2 %}
			{% endblock %}
		</div>
	</div>


<script>
$(document).ready(function() {
var  parser = document.createElement('a');
parser.href = window.location.href;
var path = parser.pathname;
if (path == '/browse') {
var type = getUrlParameter('type');
   if (type == 1 || type == undefined ) {
   	$('#swap_arrow').css("visibility", "visible" );
   	$('#sell_arrow').css("visibility", "hidden" );
   	$('#all_arrow').css("visibility", "hidden" );
   }
   if (type == 2 ) {
   	$('#swap_arrow').css("visibility", "hidden" );
   	$('#sell_arrow').css("visibility", "visible" );
   	$('#all_arrow').css("visibility", "hidden" );
   }
   if (type == 0 ) {
   	$('#swap_arrow').css("visibility", "hidden" );
   	$('#sell_arrow').css("visibility", "hidden" );
   	$('#all_arrow').css("visibility", "visible" );
   }	
}
 });

function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++) 
    {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam) 
        {
            return sParameterName[1];
        }
    }
} 
</script>
{% endblock %}


