{% extends "base.html" %}

{% block content %}
<span style="margin-left:32%; font-size:18pt">WELCOME TO HELP/FAQ</span><br>

	<span style="margin-left:20px">What is Project Regalo?</span><br>

	<p style="margin-left:25px">  Project Regalo is an open source web-application used for the purpose of trading, buying, and selling unwanted gift cards. </p> <br>

	<h style="margin-left:20px">How To Use Project Regalo </h>
	
    <p style="margin-left:25px">  As this web application is based around the exchanging and selling of giftcards, one must have an unwanted card or a desire for a giftcard to use the site.  First, decide whether you are buying or selling a gift card.  Next, if you are selling nevigate to the My Profile tab, and if you are buying or swapping, navigate to the Browse tab.  If you are selling press the button marked "Create New Post", and enter the necessary details to create a new offer on the site, one which other users can view and bid on.  If you are a buyer, browse through the listing of recent posts and feel free to sort them with the filters provided. </p> <br>

	<h style="margin-left:20px"> Contact Us </h>

	<p style="margin-left:25px"> To contact the administrators of Project Regalo, please send an email to <a href="#">regalo.help@gmail.com</a>.  If you find yourself having problems with the site's functionality or want to ask more questions about the design and implementation of the site, please send a message! (Note: No solicitors)</p><br>

	<h style="margin-left:20px"> Disclaimer </h>

	<p style="margin-left:25px"> We would like to make clear that this site wwas purely made for educational purposes, and any interactions with other users you may have on this site are not stricly moderated by administrators of the site.  This being said, Project Regalo nor any of its developers are responsible in any way for dishonest or malicious transactions and interactions between users, this site was made based on the honor code, and, until a better functionality for secure exchange of codes is put in place, will stay that way. Thank you for understanding and enjoy the site! </p><br> 
       
{% endblock %}


