{% extends "frontpage.html" %}

{% block contentts2 %}
<div id='faq-help-cont'>
	<div>
		<p id="faq_title">Frequently Asked Questions</p>
	</div>
	<hr id="faq_line">

	<div id="faq-head-cont">
		<div id="faq-list-cont">
			<p class='faqs_title'>
				<ul>
					<li><a href="#q1">What is Regalo?</a></li>
					<li><a href="#q2">How do I use this website?</a></li>
					<li><a href="#q3">Do the gift cards posted have an expiry date?</a></li>
					<li><a href="#q4">How can I trust the person I am swapping with or buying from?</a></li>
					<li><a href="#q5">What do I do if I have forgotten my password?</a></li>
					<li><a href="#q6">How does the card swap work?</a></li>
					<li><a href="#q7">What do I do if I have a problem with another user that I have made a transaction with?</a></li>
				</ul>
			</p>
		</div>

		<!--<div id="faq-pic-cont"></div>-->
	</div>
	<div id="faq-body-cont">
		<hr>
		<h id="q1" class='faqs_title'>What is Regalo?</h>

		<p class='faqs_quest'>
			Project Regalo is an open source web-application used for the purpose of trading, buying, and selling unwanted gift cards. 
		</p> <br>

		<h id="q2" class='faqs_title'>How do I use this website?</h>

		<p class='faqs_quest'>  
			Once you have created an account, you will be able to navigate to the Browse page and start looking over giftcards put up by other users for sale or swap.  Once you have found a desirable gift card, leave a bid on that users post using the Bid button, or in the case of a sale, use the Buy button to be redirected to PayPal<sup style="font-size: 0.6em;">©</sup> which can process your transaction. 
		</p> <br>

		<h id="q3" class='faqs_title'>Do the gift cards posted have an expiry date?</h>

		<p class='faqs_quest'>  
			Most gift cards posted on this site do not have a noted expiry date, and are closed loop electronic gift cards.  Your state/region may have differing regulations, and if you are concerned about the possibility of an expired gift card please consult your local government website before placing a possibly expired card up in an offer.
		</p> <br>

		<h id="q4" class='faqs_title'>How can I trust the person I am swapping with or buying from?</h>

		<p class='faqs_quest'>  
			This website is based on the honor code, and as such there must be certain level of trust between users in order for the system to function as intended.  Make sure before making a bid on a post to browse the other user’s profile and look at the reviews and rating carefully.
		</p> <br>

		<h id="q5" class='faqs_title'>What do I do if I have forgotten my password?</h>

		<p class='faqs_quest'>  
			If you have forgotten your password, please use the link provided at the login screen to receive an email from which you can reset your password.
		</p> <br>

		<h id="q6" class='faqs_title'>How does the card swap work?</h>

		<p class='faqs_quest'>  
			The card swap works from two different perspectives, that of the poster and that of the bidder.  The poster places their card up for trade in an offer and receives bids from other users. (Viewable in the My Bids tab of the site) After which they are allowed to select a desired card from their list of bids.  Once a desired bid has been selected, the codes of both user’s cards will be swapped via email and the post will become closed.
		</p> <br>

		<h id="q7" class='faqs_title'>What do I do if I have a problem with another user that I have made a transaction with?</h>

		<p class='faqs_quest'>  
			Contact us at regalo.help@gmail.com, also make sure to leave them a review on their profile.  The review and rating system is the main way for other users to gauge the trustworthiness of members of the site.  Once you have made a transaction with a user, leave them a review and rating which reflects your personal experience.
		</p> <br>
		<hr>

		<h class='faqs_title'>Contact Us</h>

		<p class='faqs_quest'> 
			To contact the administrators of Project Regalo, please send an email to <a href="mailto:regalo.help@gmail.com">regalo.help@gmail.com</a>.  If you find yourself having problems with the site's functionality or want to ask more questions about the design and implementation of the site, please send a message! (Note: No solicitors)
		</p><br>
	</div> 
 </div>  
{% endblock %}


