{% extends "frontpage.html" %}

{% block contentts2 %}
<div id='faq-help-cont'>
	<div>
		<p id="faq_title">Frequently Asked Questions</p>
	</div>
	<hr id="faq_line">

	<div id="faq-head-cont">
		<div id="faq-list-cont">
			<p class='faqs_title'>
				<ul>
					<li><a href="#q1">What is Regalo?</a></li>
					<li><a href="#q2">How To Use Regalo?</a></li>
					<li><a href="#q3">How To Use Regalo?</a></li>
					<li><a href="#q4">How To Use Regalo?</a></li>
					<li><a href="#q5">How To Use Regalo?</a></li>
					<li><a href="#q6">How To Use Regalo?</a></li>
					<li><a href="#q7">How To Use Regalo?</a></li>
					<li><a href="#q8">How To Use Regalo?</a></li>
				</ul>
			</p>
		</div>

		<!--<div id="faq-pic-cont"></div>-->
	</div>
	<div id="faq-body-cont">
		<hr>
		<h id="q1" class='faqs_title'>What is Regalo?</h>

		<p class='faqs_quest'>
			Project Regalo is an open source web-application used for the purpose of trading, buying, and selling unwanted gift cards. 
		</p> <br>

		<h id="q1" class='faqs_title'>How To Use Regalo?</h>

		<p class='faqs_quest'>  
			As this web application is based around the exchanging and selling of giftcards, one must have an unwanted card or a desire for a giftcard to use the site.  First, decide whether you are buying or selling a gift card.  Next, if you are selling nevigate to the My Profile tab, and if you are buying or swapping, navigate to the Browse tab.  If you are selling press the button marked "Create New Post", and enter the necessary details to create a new offer on the site, one which other users can view and bid on.  If you are a buyer, browse through the listing of recent posts and feel free to sort them with the filters provided.
		</p> <br>

		<h id="q2" class='faqs_title'>How To Use Regalo?</h>

		<p class='faqs_quest'>  
			As this web application is based around the exchanging and selling of giftcards, one must have an unwanted card or a desire for a giftcard to use the site.  First, decide whether you are buying or selling a gift card.  Next, if you are selling nevigate to the My Profile tab, and if you are buying or swapping, navigate to the Browse tab.  If you are selling press the button marked "Create New Post", and enter the necessary details to create a new offer on the site, one which other users can view and bid on.  If you are a buyer, browse through the listing of recent posts and feel free to sort them with the filters provided.
		</p> <br>

		<h id="q3" class='faqs_title'>How To Use Regalo</h>

		<p class='faqs_quest'>  
			As this web application is based around the exchanging and selling of giftcards, one must have an unwanted card or a desire for a giftcard to use the site.  First, decide whether you are buying or selling a gift card.  Next, if you are selling nevigate to the My Profile tab, and if you are buying or swapping, navigate to the Browse tab.  If you are selling press the button marked "Create New Post", and enter the necessary details to create a new offer on the site, one which other users can view and bid on.  If you are a buyer, browse through the listing of recent posts and feel free to sort them with the filters provided.
		</p> <br>

		<h id="q1" class='faqs_title'>How To Use Regalo</h>

		<p class='faqs_quest'>  
			As this web application is based around the exchanging and selling of giftcards, one must have an unwanted card or a desire for a giftcard to use the site.  First, decide whether you are buying or selling a gift card.  Next, if you are selling nevigate to the My Profile tab, and if you are buying or swapping, navigate to the Browse tab.  If you are selling press the button marked "Create New Post", and enter the necessary details to create a new offer on the site, one which other users can view and bid on.  If you are a buyer, browse through the listing of recent posts and feel free to sort them with the filters provided.
		</p> <br>

		<h id="q4" class='faqs_title'>How To Use Regalo</h>

		<p class='faqs_quest'>  
			As this web application is based around the exchanging and selling of giftcards, one must have an unwanted card or a desire for a giftcard to use the site.  First, decide whether you are buying or selling a gift card.  Next, if you are selling nevigate to the My Profile tab, and if you are buying or swapping, navigate to the Browse tab.  If you are selling press the button marked "Create New Post", and enter the necessary details to create a new offer on the site, one which other users can view and bid on.  If you are a buyer, browse through the listing of recent posts and feel free to sort them with the filters provided.
		</p> <br>

		<h id="q5" class='faqs_title'>How To Use Regalo</h>

		<p class='faqs_quest'>  
			As this web application is based around the exchanging and selling of giftcards, one must have an unwanted card or a desire for a giftcard to use the site.  First, decide whether you are buying or selling a gift card.  Next, if you are selling nevigate to the My Profile tab, and if you are buying or swapping, navigate to the Browse tab.  If you are selling press the button marked "Create New Post", and enter the necessary details to create a new offer on the site, one which other users can view and bid on.  If you are a buyer, browse through the listing of recent posts and feel free to sort them with the filters provided.
		</p> <br>

		<h id="q6" class='faqs_title'>How To Use Regalo</h>

		<p class='faqs_quest'>  
			As this web application is based around the exchanging and selling of giftcards, one must have an unwanted card or a desire for a giftcard to use the site.  First, decide whether you are buying or selling a gift card.  Next, if you are selling nevigate to the My Profile tab, and if you are buying or swapping, navigate to the Browse tab.  If you are selling press the button marked "Create New Post", and enter the necessary details to create a new offer on the site, one which other users can view and bid on.  If you are a buyer, browse through the listing of recent posts and feel free to sort them with the filters provided.
		</p> <br>

		<h id="q7" class='faqs_title'>How To Use Regalo</h>

		<p class='faqs_quest'>  
			As this web application is based around the exchanging and selling of giftcards, one must have an unwanted card or a desire for a giftcard to use the site.  First, decide whether you are buying or selling a gift card.  Next, if you are selling nevigate to the My Profile tab, and if you are buying or swapping, navigate to the Browse tab.  If you are selling press the button marked "Create New Post", and enter the necessary details to create a new offer on the site, one which other users can view and bid on.  If you are a buyer, browse through the listing of recent posts and feel free to sort them with the filters provided.
		</p> <br>

		<h id="q8" class='faqs_title'>How To Use Regalo</h>

		<p class='faqs_quest'>  
			As this web application is based around the exchanging and selling of giftcards, one must have an unwanted card or a desire for a giftcard to use the site.  First, decide whether you are buying or selling a gift card.  Next, if you are selling nevigate to the My Profile tab, and if you are buying or swapping, navigate to the Browse tab.  If you are selling press the button marked "Create New Post", and enter the necessary details to create a new offer on the site, one which other users can view and bid on.  If you are a buyer, browse through the listing of recent posts and feel free to sort them with the filters provided.
		</p> <br>
		<hr>

		<h class='faqs_title'>Contact Us</h>

		<p class='faqs_quest'> 
			To contact the administrators of Project Regalo, please send an email to <a href="#">regalo.help@gmail.com</a>.  If you find yourself having problems with the site's functionality or want to ask more questions about the design and implementation of the site, please send a message! (Note: No solicitors)
		</p><br>
	</div> 
 </div>      
{% endblock %}


