{% extends "myposts.html" %}

{% block content1 %}
	<div>
		<span class="body_nav_title">New Post</span>
	</div>
{% endblock %}

{% block content2 %}
	<div id="newpost_form">
		<form method="post">
			<div class="label">
	        	Type of post
	      	</div>
	      	<div id="new_post_radio_cont">
				<input type="radio" name="type" value="swap" onclick="document.getElementById('offer').setAttribute('disabled','disabled'); document.getElementById('dropdown2').removeAttribute('disabled');">Swap Offer
				<input type="radio" name="type" value="sell" onclick="document.getElementById('offer').removeAttribute('disabled');document.getElementById('dropdown2').setAttribute('disabled','disabled');">Sell Offer
			</div>
			<div class="error">
	          {{error_type}}  
	        </div>
			<div class="label">
	        	Retailer
	      	</div>
			<div >
				<select id="dropdown1" name="retailer">
					{% for retailer in retailers %}
						<option>{{retailer}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="error">
	          {{error_retailer}}  
	        </div>

			<div class="label">
	        	Card Value ($)
	      	</div>
			<div >
				<input id="value"  value="{{value}}" class="inputs" type="number" name="value" placeholder="0" pattern="\d*" min="0" >
			</div>
			<div class="error">
	          {{error_value}}  
	        </div>	

	        <div class="label">
	        	Offer for ($)
	      	</div>
			<div >
				<input id="offer" value="{{offer}}" class="inputs" type="number" name="offer" placeholder="0" pattern="\d*" min="0">
			</div>
			<div class="error">
	          {{error_offer}}  
	        </div>

	        <div class="label">
	        	Gift cards looking for? (max=3)
	      	</div>
			<div >
				<select id="dropdown2" name="choices" multiple>
					{% for retailer in retailers %}
						<option>{{retailer}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="error">
	          {{error_retailers}}  
	        </div>

	        <div>
	        	<input id="post_but" type="submit" value="Post">
	      </div>
		</form>
	</div>
{% endblock %}




