{% extends "myposts.html" %}

{% block content1 %}
	<div>
		<span class="body_nav_title">New Post</span>
	</div>
{% endblock %}

{% block content2 %}
	<div id="newpost_form_sub">
		<div>
      		<p id="sub_title" style="font-size:1.1em; font-weight: bold;">Post Submitted!</p>
    	</div>
		<p style="font-size:0.9em;">
			Your new post has been submitted successfully. You can go to <a href="/myposts?type=1">My Posts</a> at any time to check if any bid has been made on your post by other users.
		</p>
	</div>
{% endblock %}




