{# myprofile main page #}
{% extends "base.html" %}

{% block content %}  
    <div id="myprofilepage">
   		<div id="userandposts"> 
        <div id="userinfomain" >
          <div id="userinfotitle_cont">
            <span class="body_nav_title">User Info</span>

            {% if allow == 'yes' %}
              <a href="myprofile/edit"><span  id="prof_edit_but" style="cursor: pointer;float: right;display: block;height: 17px;width: 17px;background-size: 100%;margin:5px 10px 0 0;background-image: url('/static/images/edit.png'); background-repeat: no-repeat;"></span></a>
            {% endif %}
          </div>

          <div id="userinfocont">
              <span class="userinfoentries" id="fullname">
                <div class="userinfoicons" id="nameicon"></div>
                Name: <span id="fullnametext" style="font-weight: bold; height: 20px; width: 100%; padding-left: 3px;" >{{u.first_name}} {{u.last_name}}</span>
              </span>
              <br>
       	 		  <span class="userinfoentries" id="username">
                <div class="userinfoicons" id="usericon"></div>
                Username: <span id="usernametext" style="height: 20px; width: 100%; padding-left: 3px;" >{{u.user_name}}</span>
              </span>
              <br>
        		  <span class="userinfoentries" id="email">
                <div class="userinfoicons" id="emailicon"></div>
                E-mail: <span id="useremailtext" style=" padding-left: 3px;">{{u.email}}</span>
              </span>
              <br>
              <span class="userinfoentries" id="rating">
              <div class="userinfoicons" id="ratingicon"></div>
                <div style="float: left;">
                  Rating:
                </div>
                <div id="thumbs_title_cont" style="margin-right: 10px; float: left; ">
                      <div style="height: 20px; width: 20px;float: left;background-size: 100% 100% ; background-color: green; margin-left: 10px; background-image: url('/static/images/th_u.jpg'); border-radius: 10px; border: 0.03em solid green;">
                      </div>
                      <div style="float: left; font-size: 0.7em;">
                        {{u.rating_u}}
                      </div>
                      <div style="height: 20px; width: 20px;float: left;background-size: 100% 100% ; background-color: green; margin-left: 10px; background-image: url('/static/images/th_d.jpg'); border-radius: 10px; border: 0.03em solid yellow;">
                      </div>
                      <div style="float: left; font-size: 0.7em;">
                        {{u.rating_d}}
                      </div>
                  </div>
            </span>
            <div id="prof_submit_but">SUBMIT
            </div>
          </div>
        </div>

        <div id="activepostscont">
          <div class="nav_title_cont">
            <span class="body_nav_title">Recent Swap Posts</span>
            <span id="prof_swap_expand" style="cursor: pointer;float: right;display: block;height: 22px;width: 22px;background-size: 100% 100%;margin:5px 5px 0 0;background-image: url('/static/images/collapse_arrow.jpg'); background-repeat: no-repeat;"></span>
          </div>
          <div class="prof_posts_cont" id="prof_swap_cont">
            {% if posts|length > 0 %}
              {% set i = 0 %}
              {% for p in posts if i < 3%}
                {% set i = i + 1 %}
                {{ p.render_prof() | safe }}
              {% endfor %}
              <div class="posts_see_all">
                <span><a href="/myposts?type=1">See all...</a></span>  
              </div>
            {% else %}
              <div class="posts_see_all">
               <span>You don't have any active swap post. <br><a href="myposts/newpost">Post new?</a></span>  
              </div>
            {% endif %}
          </div>
          

          <div class="nav_title_cont">
            <span class="body_nav_title">Recent Sell Posts</span>
            <span id="prof_sell_expand" style="cursor: pointer;float: right;display: block;height: 22px;width: 22px;background-size: 100% 100%;margin:5px 5px 0 0;background-image: url('/static/images/collapse_arrow.jpg'); background-repeat: no-repeat;"></span>
          </div>
          <div class="prof_posts_cont" id="prof_sell_cont">
            {% if posts2|length > 0 %}
              {% set i = 0 %}
              {% for p2 in posts2 if i < 3%}
                {% set i = i + 1 %}
                {{ p2.render_prof() | safe }}
              {% endfor %}
              <div class="posts_see_all">
                <span><a href="/myposts?type=2">See all...</a></span>  
              </div>
            {% else %}
              <div class="posts_see_all">
                <span>You don't have any active sell post. <br><a href="myposts/newpost">Post new?</a></span>  
              </div>
            {% endif %}
          </div>

          <div class="nav_title_cont">
            <span class="body_nav_title">Recent Bids</span>
            <span id="prof_bidswap_expand" style="cursor: pointer;float: right;display: block;height: 22px;width: 22px;background-size: 100% 100%;margin:5px 5px 0 0;background-image: url('/static/images/collapse_arrow.jpg'); background-repeat: no-repeat;"></span>
          </div>
          <div class="prof_posts_cont" id="prof_swapbids_cont">
            {% if bids|length > 0 %}
              {% set i = 0 %}
              {% for b in bids if i < 2%}
                {% set i = i + 1 %}
                {{ b.render_myprof() | safe }}
              {% endfor %}
              <div class="posts_see_all">
                <span><a href="/mybids">See all...</a></span>  
              </div>
            {% else %}
              <div class="posts_see_all">
               <span>You don't have any bids.</span>  
              </div>
            {% endif %}
          </div>
        </div>
      </div>
        
      <div id="reviews_cont" style="margin-right: 0.5em ; margin-top: 1em; width: 57%; min-height: 500px; margin-left:8px; border-radius: 3px; background-color: #F8F8F8; float:left; margin-bottom: 1em;">

          {% block contentsss %}

          {% endblock %}       
        </div>
    </div>
{% endblock %}

