<div id="post_bidpage" style = "width: 100%; height: 100%; background-color:#b8bbc2; border-radius: 5px; padding-top: 10px">
		
        <div style="padding-left:15px;margin-top: 7px;width: 100%; height: 30px; font-size: 0.9em;">
            <div style="border-radius: 2px;margin-right: 5px; float: left; height: 20px; width: 20px; background-image: url('/static/images/{{p.retailer.name}}.jpg'); background-size: 100% 100%; "></div>
            <span><a href="#">{{p.retailer.name}}, ${{p.card_val}}, Bids: {{p.num_bids}}</a></span>  
        </div>
        <form method="post">

            <input style="display: none" type="text" name="p_id" value="{{p.key().id()}}">
      		<div style="background-color:#E6E6E6; width:80%; height:120px; margin-left: 50px;  overflow-y:scroll; overflow-x:hidden; border-radius:3px">
            	{% for b in bids %}
                    {{ b.render_pop() | safe }}
                  {% endfor %}
                
            </div>
                <div id="popup_error" align="center" class="error">
                    {{error_swap}}
                </div>
            <input id="popup_submit" style="display: block; margin: 0.5em auto;" type="submit" value="ACCEPT CARD SWAP">
        </form>
</div>