<div class="post_cont">
	<div class="post_left_cont">
		<div class="post_title">
			<span class="post_retailer">{{p.retailer.name}}: ${{p.card_val}}</span>
		</div>

		<div class="retailer_pic_cont">
			<div class="retailer_pic" style="background-image:url('/static/images/{{p.retailer.name}}.jpg'); ">
			</div>
		</div>
 
		<div class="post_owner_cont">
			<span>Posted By: <a href="/users/{{p.owner.key().id()}}">@{{p.owner.user_name}}</a></span>
			<br>
			<span>Date: {{p.created.strftime("%b %d, %Y")}} </span>
		</div>
	</div>

	<div class="post_mid_cont">
		<div class="looking_for_cont">
			<div class="looking_for_div"><u>Looking for</u></div>
			<ol class="looking_for_list">{{p.looking_for[0]}}</ol>
			<ol class="looking_for_list">{{p.looking_for[1]}}</ol>
			<ol class="looking_for_list">{{p.looking_for[2]}}</ol>
		</div>
	</div>

	<div class="bid_button_cont">
		<a class="bid_button" href='/swapbid?p={{p.key().id()}}&o={{p.owner.key().id()}}'>BID</a>
		<!--<a id="bid_button" class="bid_button">BID</a>-->
	</div>
</div>
