{% extends "frontpage.html" %}

{% block contentts1 %}
{% endblock %}  

{% block contentts2 %}

	<div id="bidswap_form">
		<div>
      		<p id="bidswap_title" style="font-size: 1.1em; font-weight: bodl;">Registeration Successful!</p>
    	</div>
		<p>
			<!--Your account has been registered. An link has been sent to the email you provided upon signup. Go to that link and you will then be all set to sign in to your account and use the website's features.-->
			Your account has been registered. You can now <a href="/signin">log in</a> using your credentials.
		</p>
		<p>
			Thank your for choosing Regalo,<br>
			The Team
		</p>
	</div>
{% endblock %}
