{# other users profile page #}
{% extends "frontpage.html" %}

{% block contentts1 %}
  <a href="/{{backtourl}}">
    <div class="backtobrowse">
      <div class="backbrowseicon"></div>
      <div class="backbrowsetext">To {{backto}}</div>
    </div>
  </a>
{% endblock %}


{% block contentts2 %}  
    <div id="myprofilepage">
      <div id="userandposts"> 
        <div id="userinfomain" >
          <div id="userinfotitle_cont">
            <span class="body_nav_title">User Info</span>
          </div>

          <div id="userinfocont">
            <span class="userinfoentries" id="username">
              <div class="userinfoicons" id="usericon"></div>
              Username: <b>{{u.user_name}}</b>
            </span>
            <br>
            <br>
            <span class="userinfoentries" id="rating">
              <div class="userinfoicons" id="ratingicon"></div>
              <div style="float: left;">
                  Rating:
                </div>
                <div id="thumbs_title_cont" style="margin-right: 10px; float: left; ">
                      <div style="height: 20px; width: 20px;float: left;background-size: 100% 100% ; background-color: green; margin-left: 10px; background-image: url('/static/images/th_u.jpg'); border-radius: 10px; border: 0.03em solid green;">
                      </div>
                      <div style="float: left; font-size: 0.7em;">
                        {{u.rating_u}}
                      </div>
                      <div style="height: 20px; width: 20px;float: left;background-size: 100% 100% ; background-color: green; margin-left: 10px; background-image: url('/static/images/th_d.jpg'); border-radius: 10px; border: 0.03em solid yellow;">
                      </div>
                      <div style="float: left; font-size: 0.7em;">
                        {{u.rating_d}}
                      </div>
                  </div>
            </span>
          </div>
        </div>

        <div id="activepostscont">
          <div class="nav_title_cont">
            <span class="body_nav_title">Recent Swap Posts</span>
            <span id="prof_swap_expand" style="cursor: pointer;float: right;display: block;height: 22px;width: 22px;background-size: 100% 100%;margin:5px 5px 0 0;background-image: url('/static/images/collapse_arrow.jpg'); background-repeat: no-repeat;"></span>
          </div>
          <div class="prof_posts_cont" id="prof_swap_cont">
            {% if posts|length > 0 %}
              {% set i = 0 %}
              {% for p in posts if i < 3%}
                {% set i = i + 1 %}
                {{ p.render_prof() | safe }}
              {% endfor %}
            {% else %}
              <div class="posts_see_all">
               <span>User has no active swap posts.</span>  
              </div>
            {% endif %}
          </div>
          

          <div class="nav_title_cont">
            <span class="body_nav_title">Recent Sell Posts</span>
            <span id="prof_sell_expand" style="cursor: pointer;float: right;display: block;height: 22px;width: 22px;background-size: 100% 100%;margin:5px 5px 0 0;background-image: url('/static/images/collapse_arrow.jpg'); background-repeat: no-repeat;"></span>
          </div>
          <div class="prof_posts_cont" id="prof_sell_cont">
            {% if posts2|length > 0 %}
              {% set i = 0 %}
              {% for p2 in posts2 if i < 3%}
                {% set i = i + 1 %}
                {{ p2.render_prof() | safe }}
              {% endfor %}
            {% else %}
              <div class="posts_see_all">
                <span>User has no active sell posts.</span>  
              </div>
            {% endif %}
          </div>
        </div>
      </div>
        
      <div id="reviews_cont" style="margin-right: 0.5em ; margin-top: 1em; width: 57%; min-height: 500px; margin-left:8px; border-radius: 3px; background-color: #F8F8F8; float:left; margin-bottom: 1em;">

          <div id="userinfotitle_cont" style="height: 2em; font-size: 1.2em;padding-top: 5px">
            <span class="body_nav_title">Customer Reviews</span>
            {% if allow == 'yes'%}
              <form method="post">
                  <a>
                    <div value="" type="submit" id="new_comment_but" style="cursor: pointer;float: right;display: block;height: 30px;width: 30px;background-size: 100%;margin: 0 20px 0 0;background-image: url('/static/images/add.png'); background-repeat: no-repeat; background-color: transparent; border: none;"></div>                    
                  </a>
              </from>
            {% endif %}
          </div>

           <div id="comments_cont" style="height:80%; width:90%; float:left; margin-left:25px; margin-top:15px; height: auto;overflow-x: hidden; border-radius: 3px;">
              {% block contentsss %}

              {% endblock %} 
           </div>        
      </div>
    </div>
{% endblock %}

